@use "../abstracts/" as *;

.row {
  max-width: $grid-width;
  margin: 0 auto;
  display: flex;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  [class^="col-"] {
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
    flex: 1;
  }
}
